body {
    margin: 0;
    padding: 0;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.centered-div {
    width: 85%;
    height: 75%;
    background-image: url('11.avif'); 
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 8px rgba(99, 19, 19, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding-top: 60px; 
}

.menu-bar {
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: absolute;
    top: 0;
}
.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.menu-options a {
    margin-left: 30px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s;
}

.menu-options a:hover {
    color: rgba(216, 203, 25, 0.87);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align:start;
    color:white;
}

.start-learning {
    font-size: 36px;
    margin: 0;
}

.keep-studying {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0 0 0;
}
.Delivered {
    font-size:24px;
    font-weight: bolder;
    margin:10px 0 0 0;
    background-color: darkgoldenrod;

}
.order {
    font-size: 15px;
    margin: 5px;
}
